
   li {
    float: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  


  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

.glyphicon.glyphicon-cutlery {
    font-size: 30px;
    color: #d1caca;
    margin-left: 15px;
}

.glyphicon.glyphicon-shopping-cart {
    font-size: 20px;
    margin-right: 15px;
}
a {
    margin-left: 15px;
}
.logo{
   text-decoration: beige;
    color: white;
}